{{ partial "head.html" . }}
<body id="list">
  {{ partial "header.html" . }}
  <div id="content-container">
    <div class="posts">
      <!-- Iterate over the pages -->
      {{ range first 10 .Data.Pages }}
        <div class="post-preview">
          <a href="{{ .Site.BaseUrl }}{{ .RelPermalink }}">
            <span class="post-symbol" style="background: {{ .Params.color }}; background-image: url( {{ .Params.image }} ) ">
              <i class="symbol fa fa-{{ .Params.icon }}"></i>
            </span>

            <div class="post-content">
              <h1 class="post-title">
                {{ .Title }}
              </h1>

              <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>

              <p>{{ .Description }}</p>
            </div>
          </a>
        </div>
      {{ end }}

    </div>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
