{{ partial "head.html" . }}
<body id="single">
  {{ partial "header.html" . }}

  <section class="post-symbol" style="background: {{ .Params.color }}; background-image: url( {{ .Params.image }} ) ">
    <i class="symbol fa fa-{{ .Params.icon }}"></i>
    <p class="description">{{ .Description }}</p>
  </section>

  <div id="content-container">
    <div class="post">
      <h1>{{ .Title }}</h1>
      <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      <p class="post-content">{{ .Content }}</p>
    </div>

    {{ partial "disqus.html" . }}
  </div>
</body>
</html>
