// -------------------------------------------
//   Base
// -------------------------------------------

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body {
  height: 100%;
  background: $concrete;
  font-family: $pt-serif;
}

a {
  color: inherit;
}

strong {
  font-weight: 800;
}
