// -------------------------------------------
//   Layouts
// -------------------------------------------

/* Wrapper for the content */
#content-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header with navigation */
#main-header {
  position: relative;
  height: $header-height;
  background: white;

  .profile-image {
    margin: 15px 0 0 15px;
  }

  .horizontal-nav {
    position: absolute;
    right: 50px;
    top: 15px;
  }
}

#single {
  .post-symbol {
    height: 300px;

    .symbol {
      margin-top: 60px;
    }

    .description {
      margin-top: 30px;
    }
  }

  .post img {
    width: 100%;
  }

  .post-content {
    margin-top: 30px;
  }
}

#list {
  .post-symbol {
    line-height: 200px;
  }
}
