// -------------------------------------------
//   Mixins
// -------------------------------------------

/* Cross browser transitions */

@mixin transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

/* Clearfix */

@mixin clearfix() {
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}

/* Tone */

@mixin tone($name, $color) {
  &.#{$name} {
    background: $color;
  }
}

/* Breakpoint for */

@mixin breakpoint-for($media) {
  @if $media == iphone-vert {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == iphone {
    @media only screen and (max-width: 480px) { @content; }
  }
  @else if $media == ipad-vert {
    @media only screen and (max-width: 768px) { @content; }
  }
  @else if $media == ipad {
    @media only screen and (max-width: 940px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 1220px) { @content; }
  }
}
