// -------------------------------------------
//   Modules
// -------------------------------------------

/* Horizontal navigation */
.horizontal-nav-list {
  @include clearfix();

  li {
    margin: 0 15px;
    float: left;

    list-style: none;
    border-bottom: 3px solid transparent;

    color: $soft-gray;
    font-size: 16px;

    @include transition(all .5s ease);

    &:hover {
      border-color: $soft-gray;
    }

    &.active {
      color: #333332;
      border-color: #5e5e5d;
    }

    a {
      display: inline-block;
      min-width: 50px;
      height: 40px;
      text-decoration: none;
      text-align: center;
    }
  }
}

/* Single post in list */
.post-preview {
  margin: 15px 0;

  @include transition(all .5s ease);

  &:hover {
    background: white;
  }

  @include breakpoint-for(ipad) {
    background: white;
  }

  .post-symbol {
    display: inline-block;
    height: 150px;
    width: 150px;
  }

  .post-content {
    display: inline-block;
    vertical-align: top;
    padding: 25px;

    color: $gray;

  }

  @include breakpoint-for(ipad) {
    .post-symbol {
      width: 100%;
    }

    .post-content {
      padding-top: 15px;
      .post-title {
        font-size: 25px;
      }
    }
  }
}

/* Post symbol */
.post-symbol {
  text-align: center;
  color: white;

  background-size: cover;
  background-repeat: no-repeat;

  @include tone(red, $red);
  @include tone(blue, $blue);
  @include tone(orange, $orange);
  @include tone(yellow, $yellow);
  @include tone(green, $green);
  @include tone(gray, $gray);

  .symbol {
    text-align: center;
    font-size: 100px;
  }

  .description {
    font-size: 20px;
  }
}

/* Profile image */
.profile-image {
  border-radius: 50%;
  width: 80px;
  height: auto;

  &:hover {
    -webkit-animation-name: shake;
    animation-name: shake;
  }
}
