{{ $currentPath := .UrlPath.Url }}
{{ $baseUrl := .Site.BaseUrl }}

<header id="main-header">
  <a href="{{ $baseUrl }}">
    <img src="{{ $baseUrl }}/images/profile.jpg" class="animated profile-image" alt="Go home">
  </a>

  <nav class="horizontal-nav">
    <ul class="horizontal-nav-list">
      {{ range $key, $element := .Site.Sections }}
      <li class="{{ if eq $currentPath (print "/" $key) }}active{{ end }}">
        <a href="{{ $baseUrl }}/{{$key}}">{{ $key }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
