<!DOCTYPE html>
{{ "<!--[if lt IE 7]>" | safeHtml }}      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> {{ "<![endif]-->" | safeHtml }}
{{ "<!--[if IE 7]>" | safeHtml }}         <html class="no-js lt-ie9 lt-ie8"> {{ "<![endif]-->" | safeHtml }}
{{ "<!--[if IE 8]>" | safeHtml }}         <html class="no-js lt-ie9"> {{ "<![endif]-->" | safeHtml }}
{{ "<!--[if gt IE 8]><!-->" | safeHtml }} <html class="no-js"> {{ "<!--<![endif]-->" | safeHtml }}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link href="//fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/application.css">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  </head>
